*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    line-height: 1.2;
    font-size: 1em;
}

div.wrapper {
    overflow: hidden;

}
div.wrapper div.empform{
   float: left;

}

div.wrapper div.employees{
   float: right;

}

form.app_form{
    width: 500px;
    margin: 20px;
}

form.app_form fieldset{
    padding: 10px;
    background: #f1f1f1;
    border: solid 1px #e4e4e4;
}
form.app_form fieldset legend{
    font: 1em 'Arial, Helvetice, sans-serif';
    color: #666;
    background: #e4e4e4;
    padding: 5px;
}
form.app_form table {
    width: 100%;
}
form.app_form label {
    font-family: Arial;
    color: #666666;
}
form.app_form table tr td input/*[type=text]*/{
    width: 90%;
    padding: 2%;
    font-size: 1em;

}
form.app_form table tr td input[type=submit]{
    padding: 8px;
    border-radius: 3px;
    background: darkcyan;
    color: #fff;
    font-family: Arial;
    font-size: 1em;
}
form.app_form table tr td{
    padding: 4px;
}

div.wrapper div.employees table{
    width: 600px;
    margin: 20px 20px 0 0;
    border-collapse: collapse;
}

div.wrapper div.employees table thead th{
    text-align: left;
    padding: 5px;
    border-left: solid 2px #e4e4e4;
    border-bottom: solid 2px #e4e4e4;
    font: bold 0.9em Arial Helvetica, sans-serif;
}

div.wrapper div.employees table thead th:last-of-type{
border-right: none;
}

div.wrapper div.employees table tbody td{
    text-align: left;
    padding: 5px;
    border: solid 1px #e4e4e4;
    font: bold 0.9em Arial Helvetica, sans-serif;
}